{% extends "layout.html" %}

{% block title %}
    Patient accessed
{% endblock %}

{% block main %}
    <ul class="list-group">
      <li class="list-group-item">Name: {{row[0]}}</li>
      <li class="list-group-item">SSN: {{row[1]}}</li>
      <li class="list-group-item">Sex: {{row[2]}}</li>
      <li class="list-group-item">Birth date: {{row[3]}}</li>
      <li class="list-group-item">Phone: {{row[4]}}</li>
      <li class="list-group-item">Insurance id: {{row[5]}}</li>
      <li class="list-group-item">Blood type: {{row[6]}}</li>
      <li class="list-group-item">Street address: {{row[7]}}</li>
      <li class="list-group-item">Province: {{row[8]}}</li>
    </ul>
{% endblock %}
