{% extends "layout.html" %}

{% block title %}
    Add analytic
{% endblock %}

{% block main %}

    <form action="/add_analytic" method="post" id="form">
        <div class="form-group">
			<label for="name">Name</label>
            <input autocomplete="off" class="form-control" id="name" name="name" placeholder="Your full name" type="text">
        </div>
        <div class="form-group">
			<label for="SSN">SSN</label>
            <input autocomplete="off" class="form-control" id="SSN" name="SSN" placeholder="Social security number" type="text">
        </div>
        <div class="form-group">
			<label for="sex">Sex</label>
            <select id="sex" name="sex">
				<option value="">Select sex</option>
				<option value="male">Male</option>
				<option value="female">Female</option>
			</select>
        </div>
        <div class="form-group">
			<label for="bdate">Birth date</label>
            <input autocomplete="off" class="form-control" id="bdate" name="bdate" type="date">
        </div>
        <div class="form-group">
			<label for="position">Position</label>
            <input autocomplete="off" class="form-control" id="position" name="position" placeholder="position" type="text">
        </div>
        <div class="form-group">
			<label for="phone">Phone</label>
            <input autocomplete="off" class="form-control" id="phone" name="phone" placeholder="Phone number" type="text">
        </div>
        <div class="form-group">
			<label for="address">Address</label>
            <input autocomplete="off" class="form-control" id="address" name="street" placeholder="Street address" type="text">
        </div>
        <div class="form-group">
			<label for="province">Province</label>
        <select id="province" name="province" >
			<option value="">Select province</option>
			<option value="ALX">Al Iskandariyah</option>
			<option value="ASN">Aswan</option>
			<option value="AST">Asyut</option>
			<option value="BA">Al Bahr al Ahmar</option>
			<option value="BH">Al Buhayrah</option>
			<option value="BNS">Bani Suwayf</option>
			<option value="C">Al Qahirah</option>
			<option value="DK">Ad Daqahliyah</option>
			<option value="DT">Dumyat</option>
			<option value="FYM">Al Fayyum</option>
			<option value="GH">Al Gharbiyah</option>
			<option value="GZ">Al Jizah</option>
			<option value="IS">Al Isma`iliyah</option>
			<option value="JS">Janub Sina´</option>
			<option value="KB">Al Qalyubiyah</option>
			<option value="KFS">Kafr ash Shaykh</option>
			<option value="KN">Qina</option>
			<option value="MN">Al Minya</option>
			<option value="MNF">Al Minufiyah</option>
			<option value="MT">Matruh</option>
			<option value="PTS">Bur Sa`id</option>
			<option value="SHG">Suhaj</option>
			<option value="SHR">Ash Sharqiyah</option>
			<option value="SIN">Shamal Sina´</option>
			<option value="SUZ">As Suways</option>
			<option value="WAD">Al Wadi al Jadid</option>
			</select>
		</div>
		<div class="form-group">
			<label for="exp_years">Experience years</label>
            <input autocomplete="off" class="form-control" id="exp_years" name="exp_years" placeholder="Experience years" type="text">
        </div>
        <div class="form-group">
			<label for="salary">Salary</label>
            <input autocomplete="off" class="form-control" id="salary" name="salary" placeholder="Salary" type="text">
        </div>
        <div class="form-group">
			<label for="join_date">Join date</label>
            <input autocomplete="off" class="form-control" id="join_date" name="join_date" type="date">
        </div>
        <div class="form-group">
			<label for="qualification">Qualifications</label>
			<textarea rows = "5" maxlength = "250" id="qualification" name = "qualification" placeholder="Enter Qualifications here..."></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Sumbit</button>
    </form>

{% endblock %}
