{% extends "layout.html" %}

{% block title %}
    Schedule view
{% endblock %}

{% block main %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Patient name</th>
          <th scope="col">Date</th>
          <th scope="col">Test</th>
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
        <th scope="row">{{loop.index}}</th>
        {%for val in row%}
        <td>{{val}}</td>
        {% endfor %}
        <tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
