{% extends "layout.html" %}

{% block title %}
    Book test
{% endblock %}

{% block main %}
    <form action="/book_test" method="post">
        <div class="form-group">
            <select name="test" id="test_select" onchange="get_cost(this);">
				<option value="">Select test	
			
				</option><option value="Alcohol, breath">Alcohol, breath
			
				</option><option value="Alcohol, saliva">Alcohol, saliva
			
				</option><option value="Allergen specific IgE and/or mixed allergen panel">Allergen specific IgE and/or mixed allergen panel
			
				</option><option value="Amphetamines">Amphetamines
			
				</option><option value="Apolipoprotein E (APOE) gene">Apolipoprotein E (APOE) gene
			
				</option><option value="Barbiturates">Barbiturates
			
				</option><option value="Benzodiazepines">Benzodiazepines
			
				</option><option value="Beta-glucocerebrosidase (GBA)">Beta-glucocerebrosidase (GBA)
			
				</option><option value="Bilirubin, urine">Bilirubin, urine
			
				</option><option value="BRCA mutations">BRCA mutations
			
				</option><option value="Buprenorphine">Buprenorphine
			
				</option><option value="Cannabinoids (THC)">Cannabinoids (THC)
			
				</option><option value="Carbon Monoxide">Carbon Monoxide
			
				</option><option value="Chloride">Chloride
			
				</option><option value="Cholesterol">Cholesterol
			
				</option><option value="Cocaine metabolites">Cocaine metabolites
			
				</option><option value="Creatinine">Creatinine
			
				</option><option value="Cytochrome P450 2C19 (CYP2C19) genotype">Cytochrome P450 2C19 (CYP2C19) genotype
			
				</option><option value="Cytochrome P450 2C9 (CYP2C9) genotype">Cytochrome P450 2C9 (CYP2C9) genotype
			
				</option><option value="Cytochrome P450 2D6 (CYP2D6) genotype">Cytochrome P450 2D6 (CYP2D6) genotype
			
				</option><option value="Cytochrome P450 3A5 (CYP3A5) genotype">Cytochrome P450 3A5 (CYP3A5) genotype
			
				</option><option value="Dihydropyrimidine dehydrogenase (DPYD) genotype">Dihydropyrimidine dehydrogenase (DPYD) genotype
			
				</option><option value="EDDP (methadone metabolite)">EDDP (methadone metabolite)
			
				</option><option value="Estrone-3 glucuronide">Estrone-3 glucuronide
			
				</option><option value="Ethanol (alcohol)">Ethanol (alcohol)
			
				</option><option value="Factor II">Factor II
			
				</option><option value="Factor V">Factor V
			
				</option><option value="Fecal occult blood">Fecal occult blood
			
				</option><option value="Fern test, saliva">Fern test, saliva
			
				</option><option value="Follicle stimulating hormone (FSH)">Follicle stimulating hormone (FSH)
			
				</option><option value="Fructosamine">Fructosamine
			
				</option><option value="Glucose">Glucose
			
				</option><option value="Glucose monitoring devices (FDA cleared/home use)">Glucose monitoring devices (FDA cleared/home use)
			
				</option><option value="Glucose monitoring devices (prescription use only)">Glucose monitoring devices (prescription use only)
			
				</option><option value="Glucose, fluid (approved by FDA for prescription h">Glucose, fluid (approved by FDA for prescription h
			
				</option><option value="Glucose, urine">Glucose, urine
			
				</option><option value="Glycated hemoglobin, total">Glycated hemoglobin, total
			
				</option><option value="Glycosylated Hemoglobin (Hgb A1c)">Glycosylated Hemoglobin (Hgb A1c)
			
				</option><option value="hCG, serum, qualitative">hCG, serum, qualitative
			
				</option><option value="hCG, Urine">hCG, Urine
			
				</option><option value="HDL cholesterol">HDL cholesterol
			
				</option><option value="Hemoglobin">Hemoglobin
			
				</option><option value="Hemoglobin A1">Hemoglobin A1
			
				</option><option value="HIV antibodies">HIV antibodies
			
				</option><option value="Ketone, blood">Ketone, blood
			
				</option><option value="Ketone, urine">Ketone, urine
			
				</option><option value="Lactic acid (lactate)">Lactic acid (lactate)
			
				</option><option value="LDL cholesterol">LDL cholesterol
			
				</option><option value="Leucine-rich repeat kinase 2 (LRRK2) gene">Leucine-rich repeat kinase 2 (LRRK2) gene
			
				</option><option value="Leukocyte esterase, urinary">Leukocyte esterase, urinary
			
				</option><option value="Luteinizing hormone (LH)">Luteinizing hormone (LH)
			
				</option><option value="Methadone">Methadone
			
				</option><option value="Methadone metabolite (EDDP)">Methadone metabolite (EDDP)
			
				</option><option value="Methamphetamine/amphetamine">Methamphetamine/amphetamine
			
				</option><option value="Methamphetamines">Methamphetamines
			
				</option><option value="Methylenedioxymethamphetamine (MDMA)">Methylenedioxymethamphetamine (MDMA)
			
				</option><option value="Microalbumin">Microalbumin
			
				</option><option value="Morphine">Morphine
			
				</option><option value="MUTYH gene">MUTYH gene
			
				</option><option value="Nitrite, urine">Nitrite, urine
			
				</option><option value="Opiates">Opiates
			
				</option><option value="Ovulation test (LH) By visual color comparison">Ovulation test (LH) By visual color comparison
			
				</option><option value="Oxycodone">Oxycodone
			
				</option><option value="pH">pH
			
				</option><option value="pH, urine">pH, urine
			
				</option><option value="Phencyclidine (PCP)">Phencyclidine (PCP)
			
				</option><option value="Phenobarbital">Phenobarbital
			
				</option><option value="Propoxyphene">Propoxyphene
			
				</option><option value="Protein, total, urine">Protein, total, urine
			
				</option><option value="Semen">Semen
			
				</option><option value="SERPINA1 gene">SERPINA1 gene
			
				</option><option value="Solute carrier organic anion transporter family me">Solute carrier organic anion transporter family me
			
				</option><option value="Thiopurine methyltransferase (TPMT) genotype">Thiopurine methyltransferase (TPMT) genotype
			
				</option><option value="Tricyclic antidepressants">Tricyclic antidepressants
			
				</option><option value="Triglyceride">Triglyceride
			
				</option><option value="UDP glucuronosyltransferase 1A1 (UGT1A1) genotype">UDP glucuronosyltransferase 1A1 (UGT1A1) genotype
			
				</option><option value="Urinary protein, qualitative">Urinary protein, qualitative
			
				</option><option value="Urine dipstick or tablet analytes, nonautomated">Urine dipstick or tablet analytes, nonautomated
			
				</option><option value="Urine hCG by visual color comparison tests">Urine hCG by visual color comparison tests
			
				</option><option value="Urine qualitative dipstick bilirubin">Urine qualitative dipstick bilirubin
			
				</option><option value="Urine qualitative dipstick blood">Urine qualitative dipstick blood
			
				</option><option value="Urine qualitative dipstick creatinine">Urine qualitative dipstick creatinine
			
				</option><option value="Urine qualitative dipstick glucose">Urine qualitative dipstick glucose
			
				</option><option value="Urine qualitative dipstick ketone">Urine qualitative dipstick ketone
			
				</option><option value="Urine qualitative dipstick leukocytes">Urine qualitative dipstick leukocytes
			
				</option><option value="Urine qualitative dipstick nitrite">Urine qualitative dipstick nitrite
			
				</option><option value="Urine qualitative dipstick Ph">Urine qualitative dipstick Ph
			
				</option><option value="Urine qualitative dipstick protein">Urine qualitative dipstick protein
			
				</option><option value="Urine qualitative dipstick urobilinogen">Urine qualitative dipstick urobilinogen
			
				</option><option value="Urobilinogen, urine">Urobilinogen, urine
			
				</option><option value="Vaginal pH">Vaginal pH
			
				</option><option value="Whole blood qualitative dipstick glucose">Whole blood qualitative dipstick glucose
				</option>
			</select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" id="reserve_date" name="date" type="date">
        </div>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Sumbit</button>
        </div>
    </form>
    
    <script>
		Date.prototype.toDateInputValue = (function(){
			var local = new Date(this);
			local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
			return local.toJSON().slice(0,10);
			});
		Date.prototype.weekDateInputValue = (function(){
			var local = new Date(this);
			local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
			if(this.getMonth() == 12 && this.getDay() > 23)
			{
				local.setFullYear(getFullYear(), 1, this.getDay() - 23);
			}else if (this.getDay() > 23)
			{
				this.setMonth(this.getMonth() + 1 , this.getDay() - 23);
			}else
			{
				local.setDate(this.getDate() + 7);
			}
			return local.toJSON().slice(0,10);
			});
		document.getElementById('reserve_date').value = new Date().toDateInputValue();
		document.getElementById('reserve_date').min = new Date().toDateInputValue();
		document.getElementById('reserve_date').max = new Date().weekDateInputValue();
    </script>

{% endblock %}
